include header.html
include coder_home.html 
script(type='text/javascript').
	var info =!{JSON.stringify(info)}
	var task =!{JSON.stringify(task)}
include acejs.html
include coder_home_js.html
script(type='text/javascript').
	var readOut = ""
include footer.html