<body>
	<div class="Basic-Text-Frame">
		<div class="Basic-Paragraph para-style-override-1" id='heroImage'>
			<p>It's Only A Matter of Time!</p>
		</div>
	</div>
	<div class="launch_info">
		<h2></h2>
		<p style="margin-bottom: 0; margin-top: 2vh;">Instagram:
			<a href="https://www.instagram.com/smoptechnologies/">@smoptechnologies</a>
		</p>
		<p>Email:
			<a href="mailto:info@smop.io">info@smop.io</a>
		</p>
	</div>
	<script src="/javascripts/countdown.js" type="text/javascript" charset="utf-8"></script>
	<button class="customButton">
		<a href="https://goo.gl/forms/Yg0DmyjD0JNehlAU2">Sign Up</a>
	</button>
	<button class="customButton">
		<a href="http://smop.io">Landing Page</a>
	</button>