<body>
	<!-- customfrontpage css -->
	<link rel="stylesheet" type="text/css" href="../css/customfrontpage.css">

	<div class="centered hero">
		<div class="verticalcenter">
			<a id="signup" class="loginButtonFont signup" href="new_user">Sign Up</a><b class="loginButtonFont divider">|</b><a id="login" class="loginButtonFont login" href='login'>Login</a>
			<img src="images/smopblacknotaglinebig.png" style="width: 70%; margin-top: 25vh; margin-bottom: 5vh;">
			<p>A flexible freelancing marketplace for creating the best ideas and empowering all developers.</p>
		</div>
	</div>
	<div class="notHeroD">
		<div style="overflow:auto;">
			<div class="notCentered" id="L">
				<div>
					<h2>Software "
						<b>
							<bl>Coders</bl>
						</b>"</h2>
					<p>Smop puts the exact software freelance jobs you want to see right at your fingertips.</p>
				</div>
			</div>
			<div class="notCentered" id="R">
				<div>
					<h2>Software "
						<b>
							<gr>Owners</gr>
						</b>"</h2>
					<p>Smop takes the work out of hiring developers for your occasional (or otherwise) coding needs.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="notHeroL">
		<div style="overflow:auto">
			<div class="notCentered" id="L">
				<div>
					<h2>How?</h2>
					<p>For us, it's a complex network of backend microservers running asynchronously, but for you, it's just a
						<b>simple matter of programming.</b>
					</p>
				</div>
			</div>
			<div class="notCentered" id="R">
				<div>
					<h2>The Deal.</h2>
					<p>The concept is simple. A software
						<b>
							<gr>owner</gr>
						</b> will post the task they need done and tag it with a set bounty. Any software
						<b>
							<bl>coders</bl>
						</b> who want to try their hands at completing the task can access the task and its "pet code" (that is, any code needed to complete the task). <br> <br> The first three coders to press the submit button and pass all the automated tests equally win the first half of the bounty. The best code wins the second half. The owner receives the task completed and ready for easy integration.</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$("#mvpLogin").show();
	</script>
