<body>
	<!-- This code is the Coder/Owner Choice Page -->
	<div class='choice'>
		<div class="clr">
			<a class="choicetext codercolorlight" href='coder_home'>CODER</a>
		</div>
		<div class="clr">
			<a class="choicetext ownercolorlight" href='owner_home'>OWNER</a>
		</div>

	</div>
	<div class="dropdown">
		<img src="../images/smopblack.png" alt="options" class="imagedropdown" href="/">
		<div id="myDropdown" class="dropdown-content">
			<a href="/">Home</a>
			<a href="/logout">Logout</a>
		</div>
	</div>
	<!-- Redirect and Logout Fns -->
	<script src="/javascripts/dropdown.js" type="text/javascript" charset="utf-8"></script>